.button {
    -fx-background-color:  #67597A;
    -fx-text-fill:  white;
    -fx-font-size: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 8, 0.0, 2, 2);
}

.button:hover {
    -fx-background-color: #45a049;
}

.button:pressed {
    -fx-background-color: #85BAA1;
}